llama-index
llama-index-core
llama-index-llms-gemini
llama-index-llms-google-genai
llama-index-embeddings-google-genai
llama-index-llms-huggingface
llama-index-embeddings-langchain
langchain-community
langchain-core
langchain-experimental
langchain-chroma
langchain-huggingface
transformers
sentence-transformers
python-dotenv
streamlit
ipykernel
pypdf
docx2txt
google-generativeai
